#include <winver.h>

VS_VERSION_INFO VERSIONINFO
   FILEVERSION 0,8,0,6
   PRODUCTVERSION 0,8,0,0
   FILEOS VOS_NT_WINDOWS32
   FILETYPE VFT_DLL
   BEGIN
      BLOCK "StringFileInfo"
      BEGIN
         BLOCK "040904E4"
         BEGIN
            VALUE "Comments", "Release 0.8.6"
            VALUE "CompanyName", "University Hospital of Liege"
            VALUE "FileDescription", "Native client to the REST API of Orthanc"
            VALUE "FileVersion", "0.8.0.6"
            VALUE "InternalName", "OrthancClient"
            VALUE "LegalCopyright", "(c) 2012-2015, Sebastien Jodogne, University Hospital of Liege"
            VALUE "LegalTrademarks", "Licensing information is available at http://www.orthanc-server.com/"
            VALUE "OriginalFilename", "OrthancClient_Windows64.dll"
            VALUE "ProductName", "OrthancClient"
            VALUE "ProductVersion", "0.8"
         END
      END

      BLOCK "VarFileInfo"
      BEGIN
        VALUE "Translation", 0x409, 1252  // U.S. English
      END
   END
